.main-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #E5EBEE;
  color: #164C78;
  padding: 5rem;
  text-align: start;
  align-content: center;
  justify-content: center;
}

.image-container img{
  object-fit: cover;
  max-width: 100%;
}

.image-container{
  margin-right: 2rem;
}

.main-text{
  margin: auto;
}

@media (max-width: 850px) {
  .main-container{
    padding: 2rem;
  }
  h1{
    font-size: 1.7em;
  }
}
@media (max-width: 700px) {
  .main-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  h1{
    font-size: 1.5em;
  }
}
@media (max-width: 500px) {
  h1{
    font-size: 1.2em;
  }
}
@media (max-width: 475px) {
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .image-container{
    margin: 0;
    margin-bottom: 1rem;
  }
  .image-container img{
    object-fit: cover;
    max-width: 50%;
    margin: auto;
    display: block;
  }
}

@media (max-width: 400px) {
  .main-container{
    padding: 1rem;
  }
}