@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');
:root {
  
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Homepage Container */
.homepage-container {
  color: #333;
}

/* Header */
header {
  padding: 1rem 3rem;
}

nav {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  font-size: 1.4em;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Hero Section */
.spacer{
  color: white;
  aspect-ratio: 1280/750;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1{
  background-image: url('../public/background_2.svg');
}

.hero-section {
  padding: 1rem 5rem;
  text-align: left;
}

.hero-tagline {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.tagline-usp{
  list-style-type: none;
  margin-bottom: 2rem;
}

.tagline-usp-list{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.longer-tagline{
  width: 60%;
  font-size: 1.5em;
  margin-bottom: 40px;
}


.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #164C78;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #555;
}

/* About, Services, Testimonials, and Contact Sections */
section {
  padding: 60px 20px;
  text-align: center;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.services-section ul {
  list-style-type: none;
}

.services-section li {
  margin-bottom: 10px;
}

/* About Section */
.about-section {
  background-color: #F1F6F8;
  padding: 80px 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.about-text {
  flex: 1;
  padding: 0 40px;
  text-align: left;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  border-radius: 5px;
}

/* Services Section */
.services-section {
  background-color: #164C78;
  padding: 80px 0;
  color: #fff;
}

.services-section h2{
  color: #d3e7ef;
}

.services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  width: calc(33.33% - 40px);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(192, 214, 223, 0.1);
  transition: transform 0.3s ease;
  background-color: #C0D6DF;
  color: #164C78;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-icon {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.service-description {
  text-align: center;
}
/* Testimonials Section */
.testimonials-section {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}

.testimonial-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  margin-top: 40px;
}

.testimonial-card {
  width: 60%;
  max-width: 600px;
  padding: 30px;
  margin: 0 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote-icon {
  font-size: 2rem;
  margin-bottom: 20px;
}

.testimonial-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.client-name {
  font-style: italic;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
